<html>
    <head>
    </head>
    
    <body >
        <h1 align="center">Adivinatedede</h1>
        <div style="text-align:center;">
        <form method="POST" action="/marcar/j1">
        <% contador = 1%>
        <% numFilas = session["numFilas"]-1%>
        <% numColumnas = session["numColumnas"]-1%>
        
        <% (0.. numFilas).each do |i|%>
            
            <% (0..numColumnas).each do |j|%>
                <input type="submit" name="b<%= contador %>" id="b<%= contador %>" value="oculto" />
                <% contador +=1%>
            <% end %>
        <br>
        <% end %>
        
        </form>
        </div>
        
    </body>
</html>