<html>
    <head>
        <script>
function myFunction() {
    var btn = document.createElement("BUTTON");
    var t = document.createTextNode("CLICK ME");
    btn.appendChild(t);
    document.body.appendChild(btn);
}

function add(type) {
    var btn = document.createElement("BUTTON");
    var t = document.createTextNode(type);
    btn.appendChild(t);
    document.body.appendChild(btn);
  
}

</script>
    </head>
    
    <body onload="add('TEST');">
        <h1 align="center">Adivinatedede</h1>
        
        <p id="fooBar">Fields:</p>
        <form method="POST" action="/marcar/j1">
            <input type="submit" name="b01" id="b01" value="oculto" />
            <input type="submit" name="b02" id="b02" value="oculto" />
            <input type="submit" name="b03" id="b03" value="oculto" />
            <input type="submit" name="b04" id="b04" value="oculto" />
            <input type="submit" name="b05" id="b05" value="oculto" />
            <input type="submit" name="b06" id="b06" value="oculto" />
        <br>
        
            <input type="submit" name="b07" id="b07" value="oculto" />
            <input type="submit" name="b08" id="b08" value="oculto" />
            <input type="submit" name="b09" id="b09" value="oculto" />
            <input type="submit" name="b10" id="b10" value="oculto" />
            <input type="submit" name="b11" id="b11" value="oculto" />
            <input type="submit" name="b12" id="b12" value="oculto" />
        
        <br>
        
            <input type="submit" name="b13" id="b13" value="oculto" />
            <input type="submit" name="b14" id="b14" value="oculto" />
            <input type="submit" name="b15" id="b15" value="oculto" />
            <input type="submit" name="b16" id="b16" value="oculto" />
            <input type="submit" name="b17" id="b17" value="oculto" />
            <input type="submit" name="b18" id="b18" value="oculto" />
        </form>
    </body>
</html>