<html>
    <head>
        <style type="text/css">
          .boton{
                font-size:10px;
                font-family:Verdana,Helvetica;
                font-weight:bold;
                color:black;
        background:#ffffff;
                border:1px solid;
                width:40px;
                height:40px;
               }
        </style>
    </head>
    
    <body >
        <h1 align="center">Adivinatedede</h1>
        <div style="text-align:center;">
        
        <% contador = 1%>
        <% numFilas = session["numFilas"]-1%>
        <% numColumnas = session["numColumnas"]-1%>
        <table CELLSPACING="0" ALIGN="CENTER">
        <% (0.. numFilas).each do |i|%>
            <tr>
            <% (0..numColumnas).each do |j|%>
                <td>
                    <% itemValor = session["juego"].getItem(i,j).mostrarItem%>
                    <form method="POST" action="/mostrarItem/<%= contador %>" style="width: 50px;">
                        <input class="boton" type="submit" name="<%= contador %>" id="<%= contador %>" value="<%= itemValor %>" />
                    </form>
                </td>
                <% contador +=1%>
            <% end %>
            </tr>
        <% end %>
        
        </table>
        </div>
        
    </body>
</html>